In [1]:
from rich import print
import logging

logging.basicConfig(level=logging.INFO)  # TODO set to INFO

## Data from [Daily Surface Weather and Climatological Summaries (Daymet)](https://daymet.ornl.gov/)

### Data at a single point

In [1]:
from springtime.datasets import Daymet

source = Daymet(
    points=[
        [-84.2625, 36.0133],
        [-86, 39.6],
        [-85, 40],
    ],
    years=[2000, 2002],
)

df = source.load()
df

,year,geometry,dayl|1,dayl|2,dayl|3,dayl|4,dayl|5,dayl|6,dayl|7,dayl|8,...,vp|356,vp|357,vp|358,vp|359,vp|360,vp|361,vp|362,vp|363,vp|364,vp|365
0,2000,POINT (-86.00000 39.60000),33320.85,33361.44,33405.34,33452.54,33502.99,33556.66,33613.52,33673.51,...,171.68,143.44,141.52,161.18,123.07,151.82,228.76,174.82,208.52,227.86
1,2000,POINT (-85.00000 40.00000),33172.67,33213.92,33258.55,33306.51,33357.79,33412.33,33470.11,33531.08,...,158.94,127.35,113.94,165.82,101.83,113.73,205.78,116.92,140.29,235.84
2,2000,POINT (-84.26250 36.01330),34571.11,34606.19,34644.13,34684.93,34728.55,34774.96,34824.13,34876.03,...,289.41,275.33,260.93,356.96,318.27,374.42,515.23,496.17,331.61,313.96
3,2001,POINT (-86.00000 39.60000),33320.85,33361.44,33405.34,33452.54,33502.99,33556.66,33613.52,33673.51,...,508.87,571.77,370.71,278.48,300.30,348.20,427.53,321.49,224.78,244.40
4,2001,POINT (-85.00000 40.00000),33172.67,33213.92,33258.55,33306.51,33357.79,33412.33,33470.11,33531.08,...,428.86,577.60,346.02,253.28,258.71,295.91,353.64,282.00,204.63,216.00
5,2001,POINT (-84.26250 36.01330),34571.11,34606.19,34644.13,34684.93,34728.55,34774.96,34824.13,34876.03,...,451.90,563.02,488.79,380.13,308.95,354.88,434.62,465.97,324.69,324.07
6,2002,POINT (-86.00000 39.60000),33320.85,33361.44,33405.34,33452.54,33502.99,33556.66,33613.52,33673.51,...,579.82,483.55,485.91,441.93,388.61,367.51,420.96,461.28,632.77,806.98
7,2002,POINT (-85.00000 40.00000),33172.67,33213.92,33258.55,33306.51,33357.79,33412.33,33470.11,33531.08,...,531.50,460.96,440.15,427.68,368.81,321.14,331.72,418.27,518.04,803.78
8,2002,POINT (-84.26250 36.01330),34571.11,34606.19,34644.13,34684.93,34728.55,34774.96,34824.13,34876.03,...,670.01,508.40,645.63,556.39,498.29,371.60,396.61,512.96,565.17,736.21

In [1]:
from springtime.datasets import Daymet

source = Daymet(
    variables=["tmin", "tmax"],
    area={"name": "indianapolis", "bbox": [-86.5, 39.5, -86, 40.1]},
    years=[2000, 2002],
    frequency="monthly",
)

source.load()

,year,geometry,tmin|1,tmin|2,tmin|3,tmin|4,tmin|5,tmin|6,tmin|7,tmin|8,...,tmax|3,tmax|4,tmax|5,tmax|6,tmax|7,tmax|8,tmax|9,tmax|10,tmax|11,tmax|12
0,2000,POINT (-86.54761 39.50947),-7.885807,-2.589310,0.310645,3.423000,11.999355,15.703667,16.417097,16.311613,...,14.037742,17.127333,24.050968,27.145334,27.806129,28.029678,24.230667,20.634516,9.060667,-2.365000
1,2000,POINT (-86.54565 39.51877),-7.815806,-2.537931,0.352258,3.492000,12.059677,15.792000,16.509033,16.387419,...,14.094838,17.162001,24.059355,27.165333,27.891291,28.060322,24.287333,20.724194,9.169333,-2.285333
2,2000,POINT (-86.53560 39.50795),-7.790000,-2.505172,0.376452,3.506000,12.078065,15.803333,16.523226,16.396130,...,14.108065,17.169666,24.069677,27.184000,27.901291,28.064194,24.278999,20.734516,9.177667,-2.262000
3,2000,POINT (-86.53364 39.51726),-7.750645,-2.480345,0.399032,3.548667,12.110968,15.856000,16.575483,16.439354,...,14.137742,17.183666,24.069355,27.188999,27.951612,28.078386,24.312334,20.784515,9.242333,-2.219667
4,2000,POINT (-86.53168 39.52656),-7.774839,-2.503793,0.387419,3.541333,12.100323,15.842334,16.558065,16.428709,...,14.116451,17.164667,24.054193,27.168001,27.933870,28.061935,24.306334,20.758064,9.223333,-2.247667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10915,2002,POINT (-85.98536 39.54223),-3.533548,-3.280000,-1.238065,6.565000,9.443226,17.363667,19.326452,18.794516,...,9.639355,18.313000,21.166775,28.939667,31.259356,30.202904,28.194334,16.707096,9.134334,4.433871
10916,2002,POINT (-85.99736 39.54380),-3.551290,-3.309286,-1.250968,6.553333,9.419032,17.350334,19.319677,18.789354,...,9.623871,18.301666,21.154839,28.912001,31.223227,30.175484,28.162666,16.676453,9.103666,4.405161
10917,2002,POINT (-85.99940 39.53451),-3.543226,-3.307500,-1.240645,6.560000,9.419678,17.353001,19.315805,18.787420,...,9.648065,18.325666,21.168709,28.916000,31.222258,30.181936,28.167999,16.676451,9.113667,4.413226
10918,2002,POINT (-85.98740 39.53294),-3.528710,-3.280357,-1.227419,6.572000,9.443871,17.367332,19.325806,18.795485,...,9.659355,18.334999,21.176775,28.940332,31.253870,30.205484,28.195999,16.704193,9.137667,4.434194
10919,2002,POINT (-85.98332 39.55153),-3.540323,-3.282857,-1.248387,6.559667,9.443548,17.360332,19.329033,18.794516,...,9.616775,18.288668,21.151613,28.938334,31.260967,30.197420,28.191000,16.706129,9.126333,4.426452

In [2]:
# The latitude of Washington, the USA is 47.751076, and the longitude is -120.740135
target_lat = 47.751076
target_lon = -120.740135

In [3]:
# Create a dataset instance
dataset = DaymetSinglePoint(point=(target_lon, target_lat), years=[1990, 2020])
dataset

DaymetSinglePoint(dataset='daymet_single_point', years=YearRange(start=1990, end=2020), variables=(), point=(-120.740135, 47.751076))

In [4]:
# Download dataset
dataset.download()

In [5]:
# Load downloded data as a dataframe
df = dataset.load()
df.head()

,datetime,geometry,dayl,prcp,srad,swe,tmax,tmin,vp
0,1990-01-01,POINT (-120.74013 47.75108),29818.61,12.68,86.56,66.10,2.14,-2.68,501.57
1,1990-01-02,POINT (-120.74013 47.75108),29875.77,10.44,114.20,66.00,1.47,-5.76,397.66
2,1990-01-03,POINT (-120.74013 47.75108),29937.57,7.58,98.15,65.27,1.33,-4.27,445.06
3,1990-01-04,POINT (-120.74013 47.75108),30003.96,15.35,111.24,63.49,5.19,-1.76,537.01
4,1990-01-05,POINT (-120.74013 47.75108),30074.88,11.16,109.80,61.99,4.23,-2.43,510.71

### Data at a single point and single variable

In [ ]:
# The latitude of Washington, the USA is 47.751076, and the longitude is -120.740135
target_lat = 47.751076
target_lon = -120.740135