## Data from [MODIS land products subsets](https://modis.ornl.gov/data/modis_webservice.html)

In [1]:
from springtime.datasets.satellite.modis.modistools import ModisSinglePoint, ModisMultiplePoints, modis_products, modis_bands, modis_dates

### Explore MODIS data

In [2]:
modis_products()

,product,description,frequency,resolution_meters
1,Daymet,Daily Surface Weather Data (Daymet) on a 1-km ...,1 day,1000
2,ECO4ESIPTJPL,ECOSTRESS Evaporative Stress Index PT-JPL (ESI...,Varies,70
3,ECO4WUE,ECOSTRESS Water Use Efficiency (WUE) Daily L4 ...,Varies,70
4,GEDI03,GEDI Gridded Land Surface Metrics (LSM) L3 1km...,One time,1000
5,GEDI04_B,GEDI Gridded Aboveground Biomass Density (AGBD...,One time,1000
6,MCD12Q1,MODIS/Terra+Aqua Land Cover Type (LC) Yearly L...,1 year,500
7,MCD12Q2,MODIS/Terra+Aqua Land Cover Dynamics (LCD) Yea...,1 year,500
8,MCD15A2H,MODIS/Terra+Aqua Leaf Area Index/FPAR (LAI/FPA...,8 day,500
9,MCD15A3H,MODIS/Terra+Aqua Leaf Area Index/FPAR (LAI/FPA...,4 day,500
10,MCD19A3,MODIS/Terra+Aqua BRDF Model Parameters (MAIAC)...,8 day,1000
11,MCD43A,MODIS/Terra+Aqua BRDF and Calculated Albedo (B...,1 day,500
12,MCD43A1,MODIS/Terra+Aqua BRDF/Albedo Model Parameters ...,1 day,500
13,MCD43A4,MODIS/Terra+Aqua Nadir BRDF-Adjusted Reflectan...,1 day,500
14,MCD64A1,MODIS/Terra+Aqua Burned Area (Burned Area) Mon...,Monthly,500
15,MOD09A1,MODIS/Terra Surface Reflectance (SREF) 8-Day L...,8 day,500
16,MOD11A2,MODIS/Terra Land Surface Temperature and Emiss...,8 day,1000
17,MOD13Q1,MODIS/Terra Vegetation Indices (NDVI/EVI) 16-D...,16 day,250
18,MOD14A2,MODIS/Terra Thermal Anomalies/Fire (Fire) 8-Da...,8 day,1000
19,MOD15A2H,MODIS/Terra Leaf Area Index/FPAR (LAI/FPAR) 8-...,8 day,500
20,MOD16A2,MODIS/Terra Net Evapotranspiration (ET) 8-Day ...,8 day,500
21,MOD16A2GF,MODIS/Terra Net Evapotranspiration Gap-Filled ...,8 day,500
22,MOD17A2H,MODIS/Terra Gross Primary Productivity (GPP) 8...,8 day,500
23,MOD17A2HGF,MODIS/Terra Gross Primary Productivity Gap-Fil...,8 day,500
24,MOD17A3HGF,MODIS/Terra Net Primary Production Gap-Filled ...,1 year,500
25,MOD21A2,MODIS/Terra Land Surface Temperature/3-Band Em...,8 day,1000
26,MOD44B,MODIS/Terra Vegetation Continuous Fields (VCF)...,1 year,250
27,MYD09A1,MODIS/Aqua Surface Reflectance (SREF) 8-Day L3...,8 day,500
28,MYD11A2,MODIS/Aqua Land Surface Temperature and Emissi...,8 day,1000
29,MYD13Q1,MODIS/Aqua Vegetation Indices (NDVI/EVI) 16-Da...,16 day,250
30,MYD14A2,MODIS/Aqua Thermal Anomalies/Fire (Fire) 8-Day...,8 day,1000
31,MYD15A2H,MODIS/Aqua Leaf Area Index/FPAR (LAI/FPAR) 8-D...,8 day,500
32,MYD16A2,MODIS/Aqua Net Evapotranspiration (ET) 8-Day L...,8 day,500
33,MYD16A2GF,MODIS/Aqua Net Evapotranspiration Gap-Filled (...,8 day,500
34,MYD17A2H,MODIS/Aqua Gross Primary Productivity (GPP) 8-...,8 day,500
35,MYD17A2HGF,MODIS/Aqua Gross Primary Productivity Gap-Fill...,8 day,500
36,MYD17A3HGF,MODIS/Aqua Net Primary Production Gap-Filled (...,1 year,500
37,MYD21A2,MODIS/Aqua Land Surface Temperature/3-Band Emi...,8 day,1000
38,SIF005,SIF Estimates from Fused SCIAMACHY and GOME-2 ...,Monthly,5000
39,SIF_ANN,"SIF Estimates from OCO-2 SIF and MODIS (SIF), ...",16 day,5000
40,SPL3SMP_E,SMAP Enhanced Radiometer Soil Moisture (SM) Da...,1 day,9000
41,SPL4CMDL,SMAP Carbon Net Ecosystem Exchange (NEE) Daily...,1 day,9000
42,VNP09A1,VIIRS/S-NPP Surface Reflectance (SREF) 8-Day L...,8 day,1000
43,VNP09H1,VIIRS/S-NPP Surface Reflectance (SREF) 8-Day L...,8 day,500
44,VNP13A1,VIIRS/S-NPP Vegetation Indices (NDVI/EVI) 16-D...,16 day,500
45,VNP15A2H,VIIRS/S-NPP Leaf Area Index/FPAR (LAI/FPAR) 8-...,8 day,500
46,VNP21A2,VIIRS/S-NPP Land Surface Temperature and Emiss...,8 day,1000
47,VNP22Q2,VIIRS/S-NPP Land Cover Dynamics (LCD) Yearly L...,1 year,500

In [3]:
modis_bands("MCD12Q2")

,band,description,units,valid_range,fill_value,scale_factor
1,Dormancy.Num_Modes_01,Onset_Dormancy,days since 1-1-1970,11138 to 32766,32767,1.0
2,Dormancy.Num_Modes_02,Onset_Dormancy,days since 1-1-1970,11138 to 32766,32767,1.0
3,EVI_Amplitude.Num_Modes_01,EVI_Amplitude,NBAR-EVI2,0 to 10000,32767,0.0001
4,EVI_Amplitude.Num_Modes_02,EVI_Amplitude,NBAR-EVI2,0 to 10000,32767,0.0001
5,EVI_Area.Num_Modes_01,EVI_Area,NBAR-EVI2,0 to 3700,32767,0.1
6,EVI_Area.Num_Modes_02,EVI_Area,NBAR-EVI2,0 to 3700,32767,0.1
7,EVI_Minimum.Num_Modes_01,Minimum_EVI,NBAR-EVI2,0 to 10000,32767,0.0001
8,EVI_Minimum.Num_Modes_02,Minimum_EVI,NBAR-EVI2,0 to 10000,32767,0.0001
9,Greenup.Num_Modes_01,Onset_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
10,Greenup.Num_Modes_02,Onset_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
11,Maturity.Num_Modes_01,Onset_Maturity,days since 1-1-1970,11138 to 32766,32767,1.0
12,Maturity.Num_Modes_02,Onset_Maturity,days since 1-1-1970,11138 to 32766,32767,1.0
13,MidGreendown.Num_Modes_01,Middle_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
14,MidGreendown.Num_Modes_02,Middle_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
15,MidGreenup.Num_Modes_01,Middle_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
16,MidGreenup.Num_Modes_02,Middle_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
17,NumCycles,Number_of_Cycles,none,0 to 7,32767,1
18,QA_Detailed.Num_Modes_01,Quality_Assessment_Detailed,none,0 to 16383,32767,1
19,QA_Detailed.Num_Modes_02,Quality_Assessment_Detailed,none,0 to 16383,32767,1
20,QA_Overall.Num_Modes_01,Quality_Assessment_Overall,none,0 to 3,32767,1
21,QA_Overall.Num_Modes_02,Quality_Assessment_Overall,none,0 to 3,32767,1
22,Senescence.Num_Modes_01,Onset_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
23,Senescence.Num_Modes_02,Onset_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0

In [4]:
modis_dates("MCD12Q2", 10.691330, 48.085350)

   modis_date calendar_date
1    A2001001    2001-01-01
2    A2002001    2002-01-01
3    A2003001    2003-01-01
4    A2004001    2004-01-01
5    A2005001    2005-01-01
6    A2006001    2006-01-01
7    A2007001    2007-01-01
8    A2008001    2008-01-01
9    A2009001    2009-01-01
10   A2010001    2010-01-01
11   A2011001    2011-01-01
12   A2012001    2012-01-01
13   A2013001    2013-01-01
14   A2014001    2014-01-01
15   A2015001    2015-01-01
16   A2016001    2016-01-01
17   A2017001    2017-01-01
18   A2018001    2018-01-01
19   A2019001    2019-01-01
20   A2020001    2020-01-01
21   A2021001    2021-01-01

### Data at single point

In [2]:
# Creat an instance of data
dataset = ModisSinglePoint(point=(10.691330, 48.085350), years=[2009, 2011], product = "MCD12Q2", bands = ["Greenup.Num_Modes_01", "Dormancy.Num_Modes_02"])
dataset

ModisSinglePoint(dataset='modis_single_point', years=YearRange(start=2009, end=2011), point=(10.69133, 48.08535), product='MCD12Q2', bands={'Greenup.Num_Modes_01', 'Dormancy.Num_Modes_02'}, extent=Extent(horizontal=0.0, vertical=0.0))

In [3]:
# Download dataset
dataset.download()

In [4]:
# load data as a dataframe
modis_df = dataset.load()
modis_df

band,datetime,geometry,Dormancy.Num_Modes_02,Greenup.Num_Modes_01
0,2009-01-01,POINT (10.69133 48.08535),32767,14326
1,2010-01-01,POINT (10.69133 48.08535),32767,14665
2,2011-01-01,POINT (10.69133 48.08535),32767,15046

### Data at multiple points

In [9]:
# Creat an instance of data
dataset = ModisMultiplePoints(points=((10.691330, 48.085350), (8.892998, 47.097801)), years=[2009, 2011], product = "MCD12Q2", bands = ["Greenup.Num_Modes_01"])
dataset

ModisMultiplePoints(dataset='modis_multiple_points', points=((10.69133, 48.08535), (8.892998, 47.097801)), years=(2009, 2011), product='MCD12Q2', bands={'Greenup.Num_Modes_01'})

In [10]:
# Download dataset
dataset.download()

R version 4.2.2 (2022-10-31) -- "Innocent and Trusting"
Copyright (C) 2022 The R Foundation for Statistical Computing
Platform: x86_64-conda-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support but running in an English locale

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

>             library(MODISTools)
>             mt_subset(product = "MCD12Q2",
+                 lat = 47.097801,
+                 lon = 8.892998,
+                 band = "Greenup.Num_Modes_01",
+                 start = "2009-01-01",
+                 end = "2011-12-31",
+                 km_lr = 0.0,
+                 km_ab = 0.0,
+                 site_name = "modis_8.892998_47.097801",
+                 out_dir="/tmp/data",
+                 internal = FALSE,
+                 progress = FALSE)
NULL
>
>

In [11]:
# load data as a dataframe
modis_df = dataset.load()
modis_df

,xllcorner,yllcorner,cellsize,nrows,ncols,band,units,scale,latitude,longitude,...,start,end,complete,modis_date,calendar_date,tile,proc_date,pixel,value,geometry
0,794118.0,5346628.71,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,48.085350,10.691330,...,2009-01-01,2011-12-31,True,A2009001,2009-01-01,h18v04,2022096100534,1,14326,POINT (10.69133 48.08535)
1,794118.0,5346628.71,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,48.085350,10.691330,...,2009-01-01,2011-12-31,True,A2010001,2010-01-01,h18v04,2022096152102,1,14665,POINT (10.69133 48.08535)
2,794118.0,5346628.71,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,48.085350,10.691330,...,2009-01-01,2011-12-31,True,A2011001,2011-01-01,h18v04,2022101054247,1,15046,POINT (10.69133 48.08535)
0,672730.1,5236823.60,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,47.097801,8.892998,...,2009-01-01,2011-12-31,True,A2009001,2009-01-01,h18v04,2022096100534,1,14353,POINT (8.89300 47.09780)
1,672730.1,5236823.60,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,47.097801,8.892998,...,2009-01-01,2011-12-31,True,A2010001,2010-01-01,h18v04,2022096152102,1,14724,POINT (8.89300 47.09780)
2,672730.1,5236823.60,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,47.097801,8.892998,...,2009-01-01,2011-12-31,True,A2011001,2011-01-01,h18v04,2022101054247,1,15075,POINT (8.89300 47.09780)