# Modelling for predicting the spring onset of natural vegetation across the Northern Hemisphere

https://doi.org/10.1016/j.ecolind.2021.108126

## Data

- Observation data from the USA National Phenology Network (USA-NPN)
- MODIS land cover type product and the land cover dynamics product
- Daymet gridded climate data covering Northern America
- Climate data obtained from Global Land Data Assimilation System (GLDAS) covering the Northern Hemisphere

### USA-NPN

- Observation records of vegetation phenology from 2895 sites from 2007 to 2017
- Four vegetation types defined in the USA-NPN dataset, including deciduous broadleaf forests (DBF), evergreen broadleaf forests (EBF), graminoid (GRA), and drought deciduous broadleaf forests (DDBF)
- Spring onset: breaking leaf buds for DBF, breaking leaf buds for ENF, breaking leaf buds for DDBF, and initial growth of grasses/sedges for GRA
- Averaging the timing of spring onsets for all records at the same site in the same year
- Excluding observation data in the sites located in the pixels that are classified as urban and build-up in the MODIS land cover maps

In [5]:
import springtime
from springtime.datasets.NPNPhenor import NPNPhenor, npn_species, npn_phenophases

In [6]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import math
import folium
import os
import glob
import tempfile

In [7]:
current_path = os.getcwd()
current_path

'/home/jovyan/springtime/docs/notebooks'

In [8]:
# List IDs and names for available species, phenophases
species = npn_species()
species

<rpy2.robjects.vectors.DataFrame object at 0xffff5d3c85c0> [RTYPES.VECSXP]
R classes: ('data.frame',)
[IntSexpVe..., StrSexpVe..., StrSexpVe..., IntSexpVe..., ..., StrSexpVe..., IntSexpVe..., StrSexpVe..., StrSexpVe...]
  species_id: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0xffff5b2fc1c0> [RTYPES.INTSXP]
R classes: ('integer',)
[120, 1436, 1227, 1229, ..., 228, 1043, 1395, 2188]
  common_name: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0xffff5b2fcf80> [RTYPES.STRSXP]
R classes: ('character',)
["'ohi'a l..., 'absinthi..., 'Acadian ..., 'acorn wo..., ..., 'Yoshino ..., 'youth on..., 'zebra-ta..., 'zigzag s...]
  genus: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0xffff5b2fce40> [RTYPES.STRSXP]
R classes: ('character',)
['Metrosid..., 'Artemisia', 'Empidonax', 'Melanerp..., ..., 'Prunus', 'Tolmiea', 'Callisau..., 'Tradesca...]
  genus_id: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0xffff5b2fcbc0> [RTYPES.INTSXP]
R classes: ('integer',)
[798, 437, 612, 790, ..., 933, 1058, 479, 1061]
...
  species: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0xffff5b2fc0c0> [RTYPES.STRSXP]
R classes: ('character',)
['Myrtales', 'Asterales', 'Passerif..., 'Piciform..., ..., 'Rosales', 'Saxifrag..., 'Squamata', 'Commelin...]
  kingdom: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0xffff5b2fca80> [RTYPES.INTSXP]
R classes: ('integer',)
[301, 242, 154, 158, ..., 325, 332, 209, 260]
  itis_taxonomic_sn: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0xffff5d48da80> [RTYPES.STRSXP]
R classes: ('character',)
['Myrtaceae', 'Asterace..., 'Tyrannid..., 'Picidae', ..., 'Rosaceae', 'Saxifrag..., 'Phrynoso..., 'Commelin...]
  functional_type: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0xffff5b2fc540> [RTYPES.STRSXP]
R classes: ('character',)
['Myrtle F..., 'Aster Fa..., 'Tyrant F..., 'Woodpeck..., ..., 'Rose Fam..., 'Saxifrag..., 'Zebra-ta..., 'Spiderwo...]

In [9]:
print(species.head(1))
# It's not easy to check the column names. I printed the first row and copy-pasted the names here:
# species_id, common_name, genus genus_id, genus_common_name, species, kingdom, itis_taxonomic_sn,functional_type, class_id, class_common_name, 
# class_name, order_id, order_common_name, order_name family_id, family_name, family_common_nam

  species_id  common_name        genus genus_id     genus_common_name
1        120 'ohi'a lehua Metrosideros      798 Lehuas (Metrosideros)
     species kingdom itis_taxonomic_sn     functional_type class_id
1 polymorpha Plantae             27259 Evergreen broadleaf       15
  class_common_name    class_name order_id                    order_common_name
1  Flowering Plants Magnoliopsida       89 Myrtle and Evening-primrose Families
  order_name family_id family_name family_common_name
1   Myrtales       301   Myrtaceae      Myrtle Family

In [10]:
#help(species)
species.to_csvfile(current_path+"/species.csv")
species_df = pd.read_csv(current_path+"/species.csv")
species_df

,species_id,common_name,genus,genus_id,genus_common_name,species,kingdom,itis_taxonomic_sn,functional_type,class_id,class_common_name,class_name,order_id,order_common_name,order_name,family_id,family_name,family_common_name
1,120,'ohi'a lehua,Metrosideros,798,Lehuas (Metrosideros),polymorpha,Plantae,27259.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,89,Myrtle and Evening-primrose Families,Myrtales,301,Myrtaceae,Myrtle Family
2,1436,absinthium,Artemisia,437,Sagebrushes (Artemisia),absinthium,Plantae,35445.0,Forb,15,Flowering Plants,Magnoliopsida,69,"Aster, Bellflower and Buckbean Families",Asterales,242,Asteraceae,Aster Family
3,1227,Acadian flycatcher,Empidonax,612,Empidonax Flycatchers (Empidonax),virescens,Animalia,178339.0,Bird,5,Birds,Aves,31,Perching Birds,Passeriformes,154,Tyrannidae,Tyrant Flycatchers
4,1229,acorn woodpecker,Melanerpes,790,Melanerpine Woodpeckers (Melanerpes),formicivorus,Animalia,178189.0,Bird,5,Birds,Aves,33,Woodpeckers,Piciformes,158,Picidae,Woodpeckers
5,2110,Adam and Eve,Aplectrum,1285,Adam and Eves (Aplectrum),hyemale,Plantae,43489.0,Forb,15,Flowering Plants,Magnoliopsida,68,"Asparagas, Iris, Orchid and Aloe Families",Asparagales,307,Orchidaceae,Orchid Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1751,1671,yerba mansa,Anemopsis,413,Yerba Mansa (Anemopsis),californica,Plantae,18223.0,Forb,15,Flowering Plants,Magnoliopsida,92,Birthwort and Lizard's-tail Families,Piperales,331,Saururaceae,Lizard's-tail Family
1752,228,Yoshino cherry,Prunus,933,Cherries (Prunus),yedoensis,Plantae,836663.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,325,Rosaceae,Rose Family
1753,1043,youth on age,Tolmiea,1058,Youth on Ages (Tolmiea),menziesii,Plantae,24533.0,Forb,15,Flowering Plants,Magnoliopsida,98,"Currant, Witch-hazel and Saxifrage Families",Saxifragales,332,Saxifragaceae,Saxifrage Family
1754,1395,zebra-tailed lizard,Callisaurus,479,Zebra-tailed Lizards (Callisaurus),draconoides,Animalia,173906.0,Reptile,10,Reptiles,Reptilia,54,Snakes and Lizards,Squamata,209,Phrynosomatidae,Zebra-tailed and Horned Lizards
1755,2188,zigzag spiderwort,Tradescantia,1061,Spiderworts (Tradescantia),subaspera,Plantae,39176.0,Forb,15,Flowering Plants,Magnoliopsida,74,Spiderwort and Water-hyacinth Families,Commelinales,260,Commelinaceae,Spiderwort Family

In [11]:
species_df_D = species_df.loc[species_df['functional_type'] == "Deciduous broadleaf"]
species_df_D

,species_id,common_name,genus,genus_id,genus_common_name,species,kingdom,itis_taxonomic_sn,functional_type,class_id,class_common_name,class_name,order_id,order_common_name,order_name,family_id,family_name,family_common_name
11,1174,Allegheny serviceberry,Amelanchier,402,Serviceberries (Amelanchier),laevis,Plantae,182046.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,325,Rosaceae,Rose Family
24,1446,alternateleaf dogwood,Cornus,560,Dogwoods (Cornus),alternifolia,Plantae,27813.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,75,"Dogwood, Hydrangea and Tupelo Families",Cornales,262,Cornaceae,Dogwood Family
27,93,American basswood,Tilia,1056,Lindens (Tilia),americana,Plantae,21536.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,88,Mallow and Mezereum Families,Malvales,294,Malvaceae,Mallow Family
28,812,American beautyberry,Callicarpa,477,Beautyberries (Callicarpa),americana,Plantae,32144.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,83,"Mint, Olive and Plantain Families",Lamiales,286,Lamiaceae,Mint Family
29,79,American beech,Fagus,645,Beeches (Fagus),grandifolia,Plantae,19462.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,79,"Birch, Beech, Walnut and Bayberry Families",Fagales,271,Fagaceae,Beech Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,217,Woods' rose,Rosa,965,Roses (Rosa),woodsii,Plantae,24847.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,325,Rosaceae,Rose Family
1717,1905,woolly pawpaw,Asimina,442,Pawpaws (Asimina),incana,Plantae,18109.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,86,Custard-apple and Magnolia Families,Magnoliales,233,Annonaceae,Custard-apple Family
1726,97,yellow birch,Betula,457,Birches (Betula),alleghaniensis,Plantae,19481.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,79,"Birch, Beech, Walnut and Bayberry Families",Fagales,245,Betulaceae,Birch Family
1729,1172,yellow buckeye,Aesculus,383,Buckeyes (Aesculus),flava,Plantae,837871.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,97,"Sumac, Rue and Soapberry Families",Sapindales,329,Sapindaceae,Soapberry Family
1752,228,Yoshino cherry,Prunus,933,Cherries (Prunus),yedoensis,Plantae,836663.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,325,Rosaceae,Rose Family

In [17]:
species_df_E = species_df.loc[species_df['functional_type'] == "Evergreen broadleaf"]
species_df_E

,species_id,common_name,genus,genus_id,genus_common_name,species,kingdom,itis_taxonomic_sn,functional_type,class_id,class_common_name,class_name,order_id,order_common_name,order_name,family_id,family_name,family_common_name
1,120,'ohi'a lehua,Metrosideros,798,Lehuas (Metrosideros),polymorpha,Plantae,27259.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,89,Myrtle and Evening-primrose Families,Myrtales,301,Myrtaceae,Myrtle Family
14,1861,alpine azalea,Kalmia,731,Laurels (Kalmia),procumbens,Plantae,565766.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,77,"Heath, Phlox and Pitcher-plant Families",Ericales,268,Ericaceae,Heath Family
36,1717,American century plant,Agave,385,Agaves (Agave),americana,Plantae,182660.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,68,"Asparagas, Iris, Orchid and Aloe Families",Asparagales,241,Asparagaceae,Asparagas Family
48,1982,American holly,Ilex,719,Hollies (Ilex),opaca,Plantae,27982.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,66,Holly Family,Aquifoliales,236,Aquifoliaceae,Holly Family
117,1068,banana yucca,Yucca,1103,Yuccas (Yucca),baccata,Plantae,43134.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,68,"Asparagas, Iris, Orchid and Aloe Families",Asparagales,241,Asparagaceae,Asparagas Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,766,whitethorn ceanothus,Ceanothus,506,Ceanothuses (Ceanothus),cordulatus,Plantae,28458.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,323,Rhamnaceae,Buckthorn Family
1679,222,wild banyantree,Ficus,650,Figs (Ficus),citrifolia,Plantae,19094.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,299,Moraceae,Mulberry Family
1721,1351,Wright's silktassel,Garrya,664,Silktassels (Garrya),wrightii,Plantae,27839.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,80,Silk-tassel Family,Garryales,273,Garryaceae,Silk-tassel Family
1723,1467,yaupon,Ilex,719,Hollies (Ilex),vomitoria,Plantae,27986.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,66,Holly Family,Aquifoliales,236,Aquifoliaceae,Holly Family
1724,1766,yellow 'ilima,Sida,997,Fanpetals (Sida),fallax,Plantae,21746.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,88,Mallow and Mezereum Families,Malvales,294,Malvaceae,Mallow Family

In [12]:
ls_sp1 = np.sort(list(species_df_D["species_id"]))
ls_sp1

array([   1,    2,    3,    4,    7,   12,   20,   27,   28,   29,   33,
         35,   36,   59,   60,   61,   62,   63,   64,   65,   67,   68,
         69,   70,   71,   72,   73,   74,   75,   76,   77,   79,   80,
         81,   82,   83,   86,   87,   88,   89,   90,   91,   92,   93,
         94,   95,   96,   97,   98,   99,  100,  101,  102,  201,  206,
        211,  214,  216,  217,  227,  228,  292,  293,  303,  309,  312,
        314,  315,  316,  319,  320,  321,  322,  325,  326,  328,  430,
        444,  704,  713,  717,  719,  723,  724,  764,  765,  770,  777,
        778,  779,  780,  781,  783,  784,  789,  799,  802,  804,  810,
        812,  823,  824,  827,  829,  835,  836,  839,  844,  871,  872,
        873,  884,  885,  897,  915,  919,  920,  923,  935,  940,  941,
        942,  944,  949,  952,  962,  970,  976,  977,  982,  983,  988,
        989,  992,  993,  994,  996,  997,  999, 1000, 1001, 1006, 1007,
       1008, 1009, 1010, 1015, 1019, 1023, 1030, 1031, 1033, 1044, 1045,
       1048, 1049, 1056, 1059, 1060, 1066, 1159, 1161, 1162, 1163, 1169,
       1172, 1173, 1174, 1176, 1177, 1179, 1181, 1184, 1185, 1187, 1188,
       1189, 1190, 1191, 1192, 1199, 1200, 1201, 1207, 1208, 1211, 1212,
       1213, 1214, 1215, 1216, 1217, 1245, 1246, 1248, 1250, 1339, 1342,
       1344, 1345, 1348, 1350, 1353, 1358, 1361, 1362, 1363, 1364, 1366,
       1367, 1369, 1370, 1371, 1372, 1373, 1374, 1431, 1438, 1439, 1446,
       1447, 1448, 1452, 1458, 1471, 1472, 1481, 1484, 1485, 1486, 1487,
       1489, 1491, 1493, 1494, 1499, 1503, 1505, 1509, 1510, 1591, 1605,
       1607, 1608, 1616, 1632, 1636, 1647, 1649, 1674, 1680, 1682, 1691,
       1692, 1698, 1716, 1719, 1728, 1730, 1732, 1733, 1736, 1741, 1744,
       1748, 1753, 1754, 1755, 1756, 1758, 1759, 1760, 1761, 1762, 1771,
       1775, 1776, 1777, 1779, 1780, 1781, 1805, 1807, 1817, 1818, 1821,
       1822, 1832, 1835, 1839, 1840, 1843, 1849, 1850, 1851, 1854, 1857,
       1871, 1873, 1875, 1876, 1878, 1880, 1897, 1905, 1923, 1977, 1987,
       1997, 2007, 2036, 2042, 2043, 2044, 2046, 2047, 2048, 2049, 2050,
       2052, 2053, 2059, 2060, 2061, 2066, 2071, 2087, 2093, 2097, 2101,
       2116, 2131, 2138, 2140, 2142, 2143, 2145, 2194])

In [18]:
ls_sp2 = np.sort(list(species_df_E["species_id"]))
ls_sp2

array([ 103,  104,  106,  107,  109,  110,  111,  112,  113,  114,  115,
        116,  117,  119,  120,  121,  127,  218,  221,  222,  226,  298,
        306,  311,  313,  318,  324,  327,  329,  435,  441,  442,  443,
        701,  702,  705,  706,  707,  716,  721,  722,  743,  760,  761,
        766,  769,  785,  790,  793,  830,  857,  860,  861,  877,  878,
        879,  880,  887,  895,  903,  904,  905,  907,  909,  924,  925,
        933,  979,  980,  981,  985,  995, 1003, 1011, 1055, 1057, 1058,
       1067, 1068, 1069, 1160, 1166, 1170, 1178, 1322, 1323, 1324, 1346,
       1349, 1351, 1359, 1360, 1368, 1430, 1443, 1444, 1467, 1479, 1490,
       1593, 1594, 1602, 1609, 1626, 1628, 1644, 1681, 1689, 1717, 1720,
       1766, 1799, 1824, 1845, 1846, 1861, 1870, 1887, 1892, 1910, 1922,
       1927, 1934, 1938, 1961, 1968, 1969, 1970, 1975, 1976, 1982, 1985,
       2006, 2054, 2057, 2064, 2139])

In [13]:
phenophases = npn_phenophases()
help(phenophases)
# phenophases.to_csvfile(current_path+"/phenophases.csv")
# phenophases_df = pd.read_csv(current_path+"/phenophases.csv")
# phenophases_df

    phenophase_id                  phenophase_name phenophase_category  color
1              56                      First leaf               Leaves   <NA>
2              57             75% leaf elongation               Leaves   <NA>
3              58                    First flower              Flowers   <NA>
4              59                      Last flower             Flowers   <NA>
5              60                First fruit ripe               Fruits   <NA>
6              61            50% of leaves colored              Leaves   <NA>
7              63             50% of leaves fallen              Leaves   <NA>
8              71           Emergence above ground              Leaves   <NA>
9              72                    First flower              Flowers   <NA>
10             73                First fruit ripe               Fruits   <NA>
11             75                       Full leaf               Leaves   <NA>
12             76                      First leaf               Leaves   <NA>
13             77                     First bloom              Flowers Green2
14             78                      Full bloom              Flowers Green2
15             79                       End bloom              Flowers Green2
16            105                        Budburst              Needles   <NA>
17            106                   First needles              Needles   <NA>
18            107                 First male cone         Pollen cones   <NA>
19            108           First pollen released         Pollen cones   <NA>
20            109            First needles fallen              Needles   <NA>
21            121                First flower bud              Flowers   <NA>
22            124                     First fruit               Fruits   <NA>
23            127                      First leaf               Leaves   <NA>
24            128             75% leaf elongation               Leaves   <NA>
25            137               First leaf fallen               Leaves   <NA>
26            180         >=75% of full leaf size               Leaves Green1
27            181         >=50% of leaves colored               Leaves Green1
28            182              All leaves colored               Leaves Green1
29            183          >=50% of leaves fallen               Leaves Green1
30            184               All leaves fallen               Leaves Green1
31            186                  Full flowering              Flowers Green2
32            196             Full pollen release              Flowers Green2
33            200             All leaves withered               Leaves Green1
34            201                    Open flowers              Flowers Green2
35            202                     Ripe fruits               Fruits Green3
36            205                    Open flowers              Flowers Green2
37            206                  Full flowering              Flowers Green2
38            207                End of flowering              Flowers Green2
39            210                    Open flowers              Flowers Green2
40            211                  Full flowering              Flowers Green2
41            221             Full pollen release         Pollen cones Green2
42            227                      Ripe seeds               Fruits Green3
43            232                 Emerging leaves               Leaves Green1
44            233           Young unfolded leaves               Leaves Green1
45            256                     Flower buds              Flowers Green2
46            261        >=50% of needles colored              Needles Green1
47            262             All needles colored              Needles Green1
48            263         >=50% of needles fallen              Needles Green1
49            264              All needles fallen              Needles Green1
50            274                   Adults on land            Activity Brown1
51            275                  Adults in water            Activity Brown1
52            276                       Vocalizing        Reproduction Brown2
53            279                          Mating         Reproduction Brown2
54            281                      Fresh eggs         Reproduction Brown2
55            289                      Dead adults         Development Brown3
56            290             Individuals in a net              Method Brown4
57            291            Individuals in a trap              Method Brown4
58            292                 Live individuals            Activity Brown1
59            293                   Calls or song             Activity Brown1
60            294             Singing individuals             Activity Brown1
61            295         Territorial individuals             Activity Brown1
62            296                          Mating         Reproduction Brown2
63            297                   Nest building         Reproduction Brown2
64            298                    Occupied nest        Reproduction Brown2
65            304                       Nestlings          Development Brown3
66            308                   Fledged young          Development Brown3
67            310           Fruit/seed consumption            Activity Brown1
68            311                    Nut gathering            Activity Brown1
69            312                Flower visitation            Activity Brown1
70            315                 Dead individuals         Development Brown3
71            316         Dead nestlings or young          Development Brown3
72            318             Adults in freshwater            Activity Brown1
73            319              Adults in saltwater            Activity Brown1
74            322        Adults migrating upstream            Activity Brown1
75            323      Adults migrating downstream            Activity Brown1
76            324       Juveniles moving upstream          Development Brown1
77            326            Individuals on a hook              Method Brown4
78            327                           Adults            Activity Brown1
79            330                          Mating         Reproduction Brown2
80            331                      Egg laying         Reproduction Brown2
81            333                     Caterpillars         Development Brown3
82            336                Dead caterpillars         Development Brown3
83            337           Individuals at a light              Method Brown4
84            338                 Males vocalizing        Reproduction Brown2
85            339                     Male combat         Reproduction Brown2
86            340                       Courtship         Reproduction Brown2
87            341                           Mating        Reproduction Brown2
88            344                Young individuals         Development Brown3
89            349                      Egg laying         Reproduction Brown2
90            350                          Mating         Reproduction Brown2
91            353         Recently emerged adults          Development Brown3
92            354                Migrating adults             Activity Brown1
93            355             Individuals on land             Activity Brown1
94            356            Individuals in water             Activity Brown1
95            357                Adults vocalizing        Reproduction Brown2
96            362                         Nesting         Reproduction Brown2
97            363                          Mating         Reproduction Brown2
98            367                           Larvae         Development Brown3
99            370                      Male adults            Activity Brown1
100           371               Breaking leaf buds              Leaves Green1
101           373              Breaking leaf buds               Leaves Green1
102           374            All leaf buds broken               Leaves Green1
103           390                      Ripe fruits              Fruits Green3
104           392                Unripe seed cones          Seed cones Green3
105           393                  Ripe seed cones          Seed cones Green3
106           412                     First bloom              Flowers   <NA>
107           416                       End bloom              Flowers   <NA>
108           417                 First red berry               Fruits   <NA>
109           418                Full red berries               Fruits   <NA>
110           419           First shriveled berry               Fruits   <NA>
111           420          Full shriveled berries               Fruits   <NA>
112           428                     First bloom              Flowers   <NA>
113           429                      Full bloom              Flowers   <NA>
114           440           Juveniles in saltwater         Development Brown3
115           441               Young individuals          Development Brown3
116           442                   Nest building         Reproduction Brown2
117           443                  Adults feeding             Activity Brown1
118           444                Migrating adults             Activity Brown1
119           445                   Adults feeding            Activity Brown1
120           446                          Feeding            Activity Brown1
121           447             Caterpillars feeding         Development Brown3
122           448             Dead or dying adults         Development Brown3
123           449                           Nymphs         Development Brown3
124           450                   Nymphs feeding         Development Brown3
125           451                      Dead nymphs         Development Brown3
126           452              Individuals on land            Activity Brown1
127           453             Individuals in water            Activity Brown1
128           454                      Summer coat         Development Brown3
129           455                      Winter coat         Development Brown3
130           456                     Male combat         Reproduction Brown3
131           457               Insect consumption            Activity Brown1
132           458 Individuals at a feeding station              Method Brown4
133           467             Increasing leaf size              Leaves Green1
134           471                   Falling leaves              Leaves Green1
135           472                  Falling needles             Needles Green1
136           480            Breaking needle buds              Needles Green1
137           481            Breaking needle buds              Needles Green1
138           482                  Initial growth               Leaves Green1
139           483                           Leaves              Leaves Green1
140           484                    Young leaves               Leaves Green1
141           485                   Young needles              Needles Green1
142           486                   Young needles              Needles Green1
143           487                         Needles              Needles Green1
144           488                          Leaves               Leaves Green1
145           489                          Leaves               Leaves Green1
146           490                    Pollen cones         Pollen cones Green2
147           491         Recent cone or seed drop          Seed cones Green3
148           492                  Initial growth               Leaves Green1
149           493                    Flower heads              Flowers Green2
150           494                    Open flowers              Flowers Green2
151           495               Open pollen cones         Pollen cones Green2
152           496                Emerging needles              Needles Green1
153           497                          Leaves               Leaves Green1
154           498                   Colored leaves              Leaves Green1
155           499                  Colored needles             Needles Green1
156           500           Flowers or flower buds             Flowers Green2
157           501                     Open flowers             Flowers Green2
158           502                  Pollen release              Flowers Green2
159           503                  Pollen release         Pollen cones Green2
160           504        Recent fruit or seed drop              Fruits Green3
161           505                    Young leaves               Leaves Green1
162           506             Caterpillars in tent         Development Brown3
163           507                        Subadults         Development Brown3
164           508                  Initial growth               Leaves Green1
165           509                          Leaves               Leaves Green1
166           510               New side branches               Leaves Green1
167           511                      Receptacles             Flowers Green2
168           512                 Flat receptacles             Flowers Green2
169           513      Smooth inflated receptacles             Flowers Green2
170           514      Dotted inflated receptacles             Flowers Green2
171           515                 Torn receptacles             Flowers Green2
172           516                           Fruits              Fruits Green3
173           517                   Nest building         Reproduction Brown2
174           518                   Nest building         Reproduction Brown2
175           519                      Drone cells        Reproduction Brown2
176           520               Nest provisioning         Reproduction Brown2
177           521                            Eggs         Reproduction Brown2
178           522                            Pupae         Development Brown3
179           523                     Dead adults          Development Brown3
180           524                             Eggs        Reproduction Brown2
181           525                    Winged adults            Activity Brown1
182           526                     Dead nymphs          Development Brown3
183           527               Nest provisioning         Reproduction Brown2
184           528                Courtship calling        Reproduction Brown2
185           529               Recent egg laying         Reproduction Brown2
186           530                  Cast-off skins          Development Brown3
187           531                            Eggs         Reproduction Brown2
188           532                   Larvae feeding         Development Brown3
189           533                      Dead larvae         Development Brown3
190           539                     Downy young          Development Brown3
191           540         Partially-fledged young          Development Brown3
192           541                   Fledged young          Development Brown3
193           542                         Feeding             Activity Brown1
194           544                   Dormant nymphs         Development Brown3
195           545              Post-dormant nymphs         Development Brown3
196           546                         Crawlers         Development Brown3
197           547                       Egg laying        Reproduction Brown2
198           548                      Egg laying         Reproduction Brown2
199           549                          Mating         Reproduction Brown2
    pheno_class_id
1                1
2                2
3                7
4                9
5               12
6                4
7                5
8                1
9                7
10              12
11               3
12               1
13               7
14               7
15               9
16               1
17               2
18               6
19               8
20               5
21               6
22              10
23               1
24               2
25               5
26               2
27               4
28               4
29               5
30               5
31               7
32               8
33               5
34               7
35              12
36               7
37               7
38               9
39               7
40               7
41               8
42              12
43               1
44               2
45               6
46               4
47               4
48               5
49               5
50              66
51              65
52              67
53              82
54              90
55             130
56             135
57             135
58              62
59              67
60              84
61              83
62              82
63              86
64              94
65              99
66             102
67              70
68              72
69              71
70             130
71             131
72              63
73              64
74             126
75             127
76             128
77             135
78              62
79              82
80             136
81             109
82             133
83             135
84              67
85              85
86              77
87              82
88              98
89             136
90              82
91             116
92             125
93              66
94              65
95              67
96              87
97              82
98             108
99              80
100              1
101              1
102              3
103             12
104             11
105             12
106              7
107              9
108             12
109             12
110             12
111             12
112              7
113              7
114             98
115             98
116             86
117             68
118            125
119             68
120             68
121             75
122            130
123            111
124             76
125            134
126             66
127             65
128            123
129            124
130             85
131             69
132            135
133              2
134              5
135              5
136              1
137              1
138              1
139              3
140              2
141              2
142              2
143              3
144              3
145              3
146              6
147             13
148              1
149              6
150              7
151              7
152              1
153              3
154              4
155              4
156              6
157              7
158              8
159              8
160             13
161              2
162            110
163            114
164              1
165              3
166              2
167              6
168              6
169              6
170              6
171              9
172             10
173             86
174             86
175             93
176             95
177             90
178            115
179            130
180             90
181             81
182            134
183             95
184             78
185             91
186            117
187             90
188             74
189            132
190            100
191            101
192            102
193             68
194            129
195            113
196            112
197            136
198            136
199             82

R[write to console]: No phenophase provided for further validation.

Help on NULLType in module rpy2.rinterface_lib.sexp object:

class NULLType(Sexp)
 |  NULLType(*args, **kwargs)
 |
 |  A singleton class for R's NULL.
 |
 |  Method resolution order:
 |      NULLType
 |      Sexp
 |      rpy2.rinterface_lib._rinterface_capi.SupportsSEXP
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __bool__(self) -> bool
 |      This is always False.
 |
 |  __init__(self)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  rid
 |      ID of the underlying R object (memory address).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __sexp__
 |      Access to the underlying C pointer to the R object.
 |
 |      When assigning a new SexpCapsule to this attribute, the
 |      R C-level type of the new capsule must be equal to the
 |      type of the old capsule. A ValueError is raised otherwise.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Sexp:
 |
 |  __getstate__(self) -> bytes
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  __setstate__(self, state: bytes) -> None
 |
 |  do_slot = _(*args, **kwargs)
 |
 |  do_slot_assign(self, name: str, value) -> None
 |
 |  get_attrib = _(*args, **kwargs)
 |
 |  list_attrs = _(*args, **kwargs)
 |
 |  rsame(self, sexp) -> bool
 |      # TODO: deprecate this (and implement __eq__) ?
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from Sexp:
 |
 |  __sexp_refcount__
 |      Count the number of independent Python references to
 |      the underlying R object.
 |
 |  named
 |
 |  names_from_c_attribute
 |
 |  typeof
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Sexp:
 |
 |  names
 |
 |  rclass
 |      Get or set the R "class" attribute for the object.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from rpy2.rinterface_lib._rinterface_capi.SupportsSEXP:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

#### Species and Phenophases

It's not possible to download all the species based on the "functional_type"! I get list of all the species and download all then concatenate them.

**Species id**: 
- DBF (1174,1446,...)
- EBF(120, 1861,...)
- GRA(1677,1032,1971,...)

**Phenophases**:

- breaking leaf buds (371,373)
- initial growth (482,492,508)

### Data preparation

In [14]:
# Load dataset
# years is needed! [start,end+1]!
# If there is no data for one year we get error---check years=[2013, 2014]

# A lot of queries returned no data Error! For example the one below

# dataset = NPNPhenor(species=1446, phenophase=373, years=[2007, 2018])
# dataset.download()
# df1 = dataset.load()
# df1

In [19]:
# In totall there are 1755 species!
print(len(ls_sp1))
print(len(ls_sp2))

338
137

In [20]:
#ls_species = ls_sp1
ls_species = ls_sp2
ls_phases = [371,373]
with tempfile.TemporaryDirectory() as tmpdirname:
    for i in ls_species:
        for j in ls_phases:
            try:
                dataset = NPNPhenor(species=i, phenophase=j, years=[2007, 2018])
                dataset.download()
                df1 = dataset.load()
                df1.to_csv(tmpdirname + "/species_" + str(i)+str(j)+ ".csv")
                print(df1.shape)
            except:
                pass

    # list all CSV files in working directory.
    os.chdir(tmpdirname)
    all_filenames = [i for i in glob.glob('*.csv')]
    print(all_filenames)
    
    # combine all files in the list
    combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
    combined_csv.to_csv( current_path + "/combined_csv.csv", index=False, encoding='utf-8-sig')

downloading /tmp/data/NPN/phenor_npn_data_103_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_103_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_104_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_104_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_106_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_106_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_107_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_107_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_109_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_109_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_110_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_110_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_111_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_111_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_112_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_112_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_113_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_113_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_114_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_114_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_115_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_115_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_116_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_116_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_117_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_117_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_119_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_119_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_120_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_120_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_121_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_121_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_127_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_127_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_218_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_218_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_221_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_221_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_222_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_222_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_226_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_226_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_298_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_298_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_306_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_306_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_311_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_311_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_313_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_313_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_318_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_318_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_324_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_324_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_327_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_327_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_329_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_329_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_435_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_435_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_441_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_441_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_442_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_442_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_443_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_443_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_701_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_701_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_702_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_702_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_705_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_705_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_706_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_706_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_707_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_707_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_716_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_716_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_721_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_721_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_722_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_722_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_743_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_743_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_760_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_760_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_761_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_761_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_766_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_766_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_769_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_769_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_785_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_785_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_790_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_790_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_793_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_793_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_830_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_830_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_857_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_857_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_860_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_860_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_861_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_861_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_877_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_877_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_878_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_878_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_879_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_879_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_880_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_880_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_887_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_887_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_895_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_895_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_903_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_903_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_904_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_904_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_905_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_905_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_907_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_907_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_909_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_909_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_924_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_924_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_925_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_925_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_933_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_933_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_979_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_979_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_980_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_980_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_981_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_981_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_985_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_985_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_995_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_995_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1003_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1003_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1011_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1011_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1055_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1055_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1057_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1057_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1058_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1058_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1067_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1067_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1068_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1068_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1069_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1069_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1160_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1160_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1166_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1166_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1170_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1170_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1178_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1178_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1322_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1322_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1323_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1323_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1324_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1324_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1346_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1346_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1349_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1349_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1351_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1351_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1359_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1359_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1360_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1360_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1368_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1368_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1430_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1430_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1443_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1443_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1444_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1444_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1467_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1467_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1479_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1479_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1490_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1490_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1593_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1593_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1594_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1594_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1602_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1602_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1609_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1609_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1626_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1626_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1628_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1628_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1644_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1644_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1681_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1681_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1689_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1689_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1717_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1717_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1720_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1720_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1766_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1766_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1799_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1799_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1824_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1824_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1845_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1845_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1846_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1846_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1861_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1861_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1870_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1870_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1887_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1887_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1892_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1892_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1910_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1910_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1922_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1922_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1927_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1927_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1934_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1934_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1938_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1938_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1961_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1961_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1968_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1968_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1969_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1969_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1970_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1970_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1975_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1975_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1976_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1976_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1982_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1982_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1985_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_1985_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2006_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2006_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2054_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2054_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2057_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2057_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2064_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2064_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2139_371_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

downloading /tmp/data/NPN/phenor_npn_data_2139_373_2007-01-01_2007-12-31.rds
  |======================================================================| 100%

R[write to console]: No encoding supplied: defaulting to UTF-8.

R[write to console]: Error in (function (species = 3, phenophase = 371, start = "2000-01-01",  :
  Query returned no data, check your input parameters!

[]

ValueError: No objects to concatenate

In [ ]:
# dataset = NPNPhenor(species=36, phenophase=483, years=[2012, 2013])
# dataset.download()
# df1 = dataset.load()
# list(df1.columns)